<h3>注文履歴一覧</h3>
<table>
    <thead>
        <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
        </tr>
    </thead>
    <tbody>
        <% if @orders.present? %>
        <% @orders.each do |order| %>
        <tr>
            <td>
              <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              <%= order.post_code %>
              <%= order.address %>
              <%= order.name %>
            </td>
            <td>
              <% order.order_items.each do |oi|%>
                <%= oi.item.name  %>
              <% end %>
            </td>
            <td><%= order.total_payment.to_s(:delimited) %>円</td>
            <td><%= order.status_i18n %></td>
            <td><%= link_to '表示する', order_path(order.id) %></td>
       </tr>
            <% end %>
          <% else %>
        <tr>
              <td>ご注文は存在しません</td>
        </tr>
          <% end %>
    </tbody>
</table>