<h2>注文情報入力</h2>
<%= form_with model: @order, url: confirm_path do |f| %>
<h4>お支払い方法</h4>

<div>
    <%= f.collection_radio_buttons( :payment_method, Order.payment_methods_i18n, :first, :last) do |b| %>
    <%= b.radio_button({ class: "form-input-check", required: true}) %>
    <%= b.label({ class: "form-check-label"}) %><br/>
    <% end %>
</div>

<h4>お届け先</h4>
<div>
    <%= f.radio_button :option, 0, {checked: "checked", class: "form-input-check"} %>
    <%= f.label :option_0, "ご自身の住所"%><br/>
    <div>
    <%= current_customer.add_delivery_address %><br/>
    <%= current_customer.add_full_name %>
    </div>
</div>
<div>
    <%= f.radio_button :option, 1,{class: "from-input-check"} %>
    <%= f.label :option_1, "登録済住所から選択"%><br>
    <div>
    <%= f.select :address_id, @deliveries.map { |k| [t("#{k.join_address_name}"), k.id] },
     { include_blank: "選択してください" }, class: "form-control" %>
    </div>
</div>
<div>
    <%= f.radio_button :option, 2, {class: "from-input-check"} %>
    <%= f.label :option_2, "新しいお届け先" %>
<div>
    <%= f.label :other_post_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :other_post_code %>
</div>
<div>
    <%= f.label :other_address, "住所" %>
    <%= f.text_field :other_address %>
</div>
<div class="form-inline ml-4 mt-3 name-group">
    <%= f.label :other_name, "宛名" %>
    <%= f.text_field :other_name %>
</div>

<%= f.submit "確認画面へ進む"%>
<% end %>