<div class="container" id="item-warpper">
  <div class="row">
    <div class="col-sm-2">
      <%= render 'public/tmp/genre_list', genres: @genres %>
    </div>
    <div class="col">
      <h2><%= @add_items_title%></h2>
      <div class="d-md-flex flex-wrap">
        <% @items.each do |item|%>
          <div class="card m-2 text-center card-warpper">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image, size:'300x200', class:"card-image-top" %>
              <% unless item.is_active %>
                <div class="not-sale">
                  <p>販売停止</p>
                </div>
              <% end %>
              <div class="card-body text-dark py-2 font-weight-bold">
                <%= link_to item.name, item_path(item.id), class: "card-title mb-2" %>
                <p class="card-subtitle"><%= to_total_currency(item.price) %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div id="paginate-warpper">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>