<div class="container" id="item-warpper">
  <div class="row">
    <div class="col-sm-2">
      <%= render 'public/tmp/genre_list', genres: @genres %>
    </div>
    <div class="col-md-8">
      <div class="d-flex">
        <%= image_tag @item.get_image(250) %>
        <div class="ml-4 pl-4">
          <h3 class="font-weight-bold mb-3"><%= @item.name%></h3>
          <div class="d-flex flex-column justify-content-between h-75">
            <p class="h5 mb-4">
              <%= @item.introduction %>
            </p>
            <p class="h4 mb-4">
              <strong>
                <%= to_total_currency(@item.add_total_payment) %>
              </strong>
              <small>(税込)</small>
            </p>
          </div>
        </div>
      </div>
      <% if @item.is_active %>
        <% if current_customer %>
        <div class="w-50 mt-4 mr-0 ml-auto">
          <%= render 'public/tmp/amount', cart:@cart, item:@item %>
        </div>
        <% end %>
      <% else %>
      <div class="text-right">
        <span class="btn btn-sm btn-secondary">販売停止</span>
      </div>
      <% end %>
    </div>
  </div>
</div>